backports.functools-lru-cache==1.5
config==0.4.0
cycler==0.10.0
kiwisolver==1.0.1
matplotlib==2.2.3
numpy==1.15.3
pandas==0.23.4
pyparsing==2.3.0
python-dateutil==2.7.3
python-snappy==0.5.3
pytz==2018.5
redis==2.10.6
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
sklearn==0.0
subprocess32==3.5.3
